.border-setting{
    border: 1px solid;
    border-radius: 12px;
    padding: 15px;
    
}
.setting-update-cart-right{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 14px 35px;
    display: inline-block;
    float: right;
}
.setting-update-cart-left{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    padding: 14px 35px;
    display: inline-block;
    float: left;
}
.name-hearder{
    color:white;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: white;
}
.s-drop{
    color:black !important;
    display: flex;
}
.add-user{
    float: right;
}
.color-search{
    color: black;
}
.header-icon{
    padding: 45px;
}
.padding-setting{
    padding-top: 100px;
}
.slide-setting{
    padding-left: 80px;
    padding-right: 75px;
}
.content-p{
    text-align: center;
    font-size: 40px;
    padding-bottom: 35px;
}
.header-left{
    float: right;
}
table {
width: 100%;
border-collapse: collapse;
}
.payments-check{
    padding-left: 30px;
}
.product-detail-setting{
    padding-top: 20px;
}
.icon-dropdown{
    float: right;
}
.weekly-discount{
    padding-top: 48px;
}
.change-icon-color{
    color:black;
}
.header-s{
    margin-right: 0px!important;
}
.panding-home{
    padding-bottom: 86px;
}
.paymemt__order{
    padding-top: 28px;
    padding-bottom: 21px;
    text-align: center;
}
.payment__text{
    padding-left: 100px;
    padding-right: 100px;
}
.payment__bt{
    justify-content: center;
    align-items: center;
}
.home__covid{
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
}
.show__all{
    float:right;
}
.top__sell{
    padding-top: 10px;
}
.sould_out{
    color: red!important;
}
.product__image{
    padding-left: 40px;
}
