<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
          <h1> Products </h1>
            <%= form_with(url: admins_order_item_path, method: :patch) do |f|  %>
               
                <%= f.submit "submit" ,class: "btn btn-primary mr-2"%>
                <%= link_to "Cancel", admins_products_path,class:"btn btn-light" %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>