<h1>Editing order</h1>

<%= render "form", admins_order: @admins_order %>

<br>

<div>
  <%= link_to "Show this order", @admins_order %> |
  <%= link_to "Back to orders", admins_orders_path %>
</div>
